<?xml version="1.0" encoding="utf-8"?>
<!-- IIS: requires the ASP.NET Core 8 Hosting Bundle on the server. The app pool identity needs Modify rights on App_Data. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Maritime.Appraisal.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="App_Data" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
